{% load bootstrap3 static compress %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "img/favicon/favicon.ico" %}" rel="shortcut icon" type="image/x-icon"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {% compress css %}
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static "css/margin.css" %}" type="text/css"/>
    {% endcompress %}
    {% compress js %}
        {% block js %}{% endblock %}

    {% endcompress %}

</head>
<body>

{% block container %}

{% endblock %}
</body>
</html>