{% extends 'base/base_office.html' %}
{% load tags bootstrap3 %}
{% block title %}Заметки - просмотр заметок{% endblock %}
{% block main %}
    <div class="container">

        <a class="btn btn-primary" href="{% url 'notes_create' %}">Создать новую заметку</a>
        <div class="panel panel-default margin-top-30">
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">{% bootstrap_field form.date_from layout='horizontal' %}</div>
                        <div class="col-md-4">{% bootstrap_field form.date_to layout='horizontal' %}</div>
                        <div class="col-md-4"> {% bootstrap_field form.title layout='horizontal' %}</div>
                        <div class="clearfix"></div>
                        <div class="col-md-4"> {% bootstrap_field form.category layout='horizontal' %}</div>
                        <div class="col-md-4"> {% bootstrap_field form.favorite layout='horizontal' %}</div>
                    </div>
                    <div class="text-center margin-bottom-30">
                        <button type="submit"
                                class="btn btn-office-grey fa-angle-double-down margin-top-10 margin-bottom-10">
                            <span>Применить фильтры</span>
                        </button>
                    </div>
                </form>

                <table class="table ">

                    <tbody>
                    <tr>
                        <td><a href="?{% url_replace request 'order_by' 'created_date' '-' %}">Дата создания</a></td>
                        <td><a href="?{% url_replace request 'order_by' 'title' '-' %}">Заголовок</a></td>
                        <td><a href="?{% url_replace request 'order_by' 'category' '-' %}">Категория</a></td>
                        <td><a href="?{% url_replace request 'order_by' 'favorite' '-' %}">Избранная</a></td>
                        <td colspan="3">Действия</td>
                        <td>Ссылка на заметку</td>
                    </tr>
                    {% for note in notes %}
                        <tr>
                            <td>{{ note.created_date|date:"d.m.Y G:i" }}</td>
                            <td>{{ note.title }}</td>
                            <td>{{ note.category }}</td>
                            <td>{% if note.favorite %} Да {% else %} Нет {% endif %}</td>
                            <td><a href="{% url 'notes_update' uuid=note.uuid %}">Изменить</a></td>

                            <td><a class="delete_notes" data-url="{% url 'notes_delete' uuid=note.uuid %}">Удалить</a>
                            </td>
                            <td class="published"><a data-url="{% url 'notes_published' uuid=note.uuid %}"
                                                     class="published_note">
                                {% if not note.is_published %}Опубликовать{% else %} Убрать публикацию {% endif %}</a>
                            </td>
                            <td class="url">{% if note.is_published %}<a href="{{ note.get_published_url }}"
                                                                         target="_blank"> {{ note.get_published_url }} </a> {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}