{% extends 'base/base.html' %}
{% block title %}{{ node.title }}{% endblock %}
{% block container %}
    <main>
        <div class="container">
            {{ node.content|safe }}
        </div>
    </main>
{% endblock %}