{% extends 'base/base_main.html' %}
{% load static bootstrap3 %}
{% block title %}Заметки - Аутентификация пользователя{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="logo text-center">
                    <h1 class="margin-top-40 margin-bottom-60">Заметки</h1>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Авторизация</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="." class="cnt_form margin-bottom-30">
                            {% csrf_token %}
                            {% bootstrap_form auth_form layout='inline' error_types='all' %}

                            <div class="text-right">
                                {% bootstrap_button "Войти" button_type="submit" button_class="btn-primary" %}
                            </div>
                        </form>
                        <span>Если вы еще не зарегестрированны, пожалуйста <a href="{% url 'registration' %}">зарегестрируйтесь</a>.</span>
                    </div>
                </div>

            </div>
        </div>


    </div>
{% endblock %}